<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI</title>
</head>

<body>
    <h1>Распределенный вычислитель арифметических выражений</h1>
    <div style="display: flex; flex-direction: row; gap: 100px;">
        <div>
            <h2>Выражения:</h2>
            {{range .Expressions}}
            <div style="margin-bottom: 100px;">
                <p>{{.Vanilla}}</p>
                <p>Дата поступления: <span class="time">{{.IncomingDate}}</span></p>
                <p>Статус: {{.Progress}}</p>
                {{if eq .Progress "processing"}}
                <p>Исполнитель: {{.WorkerName.String}}</p>
                {{end}}
                {{if eq .Progress "done"}}
                <p>Исполнитель: {{.WorkerName.String}}</p>
                <p>Ответ: {{.Answer}}</p>
                {{end}}
            </div>
            {{end}}
        </div>
        <div>
            <h2>Исполнители:</h2>
            {{range .Workers}}
            <div style="margin-bottom: 100px;">
                <p>{{.Name}}</p>
                <p>Количество горутин: {{.NumberOfGoroutines}}</p>
                {{if .IsAlive}}
                <p>Статус: Работает</p>
                {{else}}
                <p>Статус: Не работает</p>
                {{end}}
                <p>Последняя связь:<span class="time">{{.LastHeartbeat}}</span></p>
            </div>
            {{end}}
        </div>
        <div style="display: flex;flex-direction: column;">
            добавление выражения и просмотр без создания юзера в новой версии не работают! читайте Readme
            <form action="/api/v1/expression/add" method="POST" enctype='application/json'>
                <input type="text" name="expression" placeholder="2+2*2" />
                <input type="submit">
            </form>
            <p>Чтобы проверить результат, перейдите по ссылке <a
                    href="http://localhost:8080/api/v1/expression/">http://localhost:8080/api/v1/expression/"выданный_ID"</a>
            </p>
        </div>
    </div>
    <script>
        var time = document.getElementsByClassName("time");
        for (var i = 0; i < time.length; i++) {
            var timestamp = time.item(i).innerHTML;
            time.item(i).innerHTML = " " + new Date(timestamp * 1000).toLocaleString("ru-RU");
        }
    </script>
</body>

</html>